.Navbar {
  width: 100%;
  background-color: #101010;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 84px;
  padding: 0 43px;

  .title {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
  }

  .user {
    display: flex;
    align-items: center;
    gap: 25px;

    .name {
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
    }
    .image {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
}

.SecondaryNavigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 81px;
  padding: 0 43px;

  .pages {
    display: flex;
    align-items: center;
    gap: 44px;
    .link {
      position: relative;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #d0cbcb;
      padding: 6px 0;
      border-bottom: 2px solid #d0cbcb00;

      &.active {
        color: #fff;
        border-bottom: 2px solid #fff;
      }
    }
  }

  .filters {
    position: relative;
    height: 22px;
    .wrap {
      z-index: 100;
      position: absolute;
      right: 0;
      top: -23px;
      padding: 23px 30px;
      border-radius: 15px;

      max-width: 97px;
      max-height: 40px;
      overflow: hidden;

      .label {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;
      }
      .select {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 12.5px;
        width: 168.45px;
        height: 37.5px;
        padding: 0 12px;
        background: #232323;
        border-radius: 4.68775px;

        input {
          appearance: none;
          background-color: #0000;
          border: none;
          display: inline-block;
          outline: none;
          color: #fff;
        }
        input::-webkit-calendar-picker-indicator {
          display: none;
          opacity: 0;
          cursor: pointer;
        }

        i {
          margin-left: -100%;
          pointer-events: none;
        }
      }

      hr {
        margin-bottom: 20px;
        margin-top: 12px;
        border: none;
        border-bottom: 1px solid #cbcbcb;
      }

      &.open {
        background-color: #131313;
        max-width: 228px;
        max-height: 190px;

        .label {
          font-weight: 300;
          color: #a5a5a5;
          i {
            display: none;
          }
        }
      }
      transition: all 0.3s ease-in-out;
    }
  }
}
