.Navbar {
  width: 100%;
  background-color: #101010;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 84px;
  padding: 0 43px;

  .title {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
  }

  .user {
    display: flex;
    align-items: center;
    gap: 25px;

    .name {
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
    }
    .image {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
}
